<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="text-center mb-4">Contact Us</h1>
            <p class="lead">Feel free to reach out to us using the contact details below or by sending us a message:</p>
            <ul class="list-unstyled">
                <li><strong>Email:</strong> vanja.vasic&#64;yahoo.com</li>
                <li><strong>Phone:</strong> +1234567890</li>
                <li><strong>Address:</strong> 123 Example St, City, Country</li>
            </ul>
            <h2 class="mt-5 mb-4">Send Us an Email</h2>
            <form #contactForm="ngForm" (ngSubmit)="createContactMessage()" class="py-3 needs-validation">
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" [(ngModel)]="contactMessage.Email" name="email" class="form-control" required
                        #email="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && email.invalid }">
                    <div *ngIf="contactForm.submitted && email.invalid" class="invalid-feedback">
                        Email is required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <input type="tel" id="phone" [(ngModel)]="contactMessage.Phone" name="phone" class="form-control" required
                        #phone="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && phone.invalid }">
                    <div *ngIf="contactForm.submitted && phone.invalid" class="invalid-feedback">
                        Phone is required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject:</label>
                    <input type="text" id="subject" [(ngModel)]="contactMessage.Subject" name="subject" class="form-control" required
                        #subject="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && subject.invalid }">
                    <div *ngIf="contactForm.submitted && subject.invalid" class="invalid-feedback">
                        Subject is required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message:</label>
                    <textarea id="message" [(ngModel)]="contactMessage.Message" name="message" class="form-control" required
                        #message="ngModel" [ngClass]="{ 'is-invalid': contactForm.submitted && message.invalid }"></textarea>
                    <div *ngIf="contactForm.submitted && message.invalid" class="invalid-feedback">
                        Message is required
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>