<div class="cart-container" *ngIf="cartItems.length > 0; else emptyCart">
    <h1 class="cart-title">Your Shopping Cart</h1>

    <div class="cart-item-card" *ngFor="let item of cartItems">
        <img [src]="'data:image/png;base64,' + item.ImageData" alt="{{ item.Name }}" class="item-image" />

        <div class="item-details">
            <h2 class="item-name">{{ item.Name }}</h2>
            <p class="item-description">{{ item.Description }}</p>

            <div class="item-meta">
                <span class="item-price">{{ item.Price | currency }}</span>
                <span class="item-quantity">Quantity: {{ item.Quantity }}</span>
            </div>

            <button class="btn btn-danger" style="align-self: flex-start" (click)="removeFromCart(item)">Remove from Cart</button>
        </div>
    </div>

    <hr/>

    <div class="cart-summary">
        <h2>Total: <span class="total-price">{{ totalPrice | currency }}</span></h2>
        <button class="btn btn-success" (click)="createCheckoutSession()" [disabled]="cartItems.length == 0">
            Buy All
        </button>
    </div>
</div>

<ng-template #emptyCart>
    <div class="empty-cart">
        <p>Your cart is empty.</p>
    </div>
</ng-template>