<div class="container py-5">
    <h1 class="page-title ">About Toni Vasic</h1>
    <br>
    <p>
        Toni Vasic (1966, Skopje) graduated from the Faculty of Fine Arts - Skopje, University "St. Cyril and Methodius"
        in 1991; master's degree in graphics at the Faculty of Fine Arts - Skopje, University "St. Cyril and Methodius" 
        in 2002; defended his Doctorate at the Institute for Cultural Studies, "Euro-Balkan" University, Skopje, in 2016.
    </p>
    <p>
        In the period from 1988 to 2023, he participated in more than 500 national and international group exhibitions
        in Serbia, Croatia, Slovenia, Bulgaria, Hungary, Japan, Korea, BiH, France, Germany, Belgium, Poland, Romania,
        Holland, Lithuania, etc. He is the winner of 13 awards for art and design. He works as a professor at the Faculty of
        Architecture and Design at the "American College" University in Skopje. He has been a member of DLUM since 1991.
    </p>
</div>