<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2>Create New Artwork</h2>
            <form (submit)="createArtwork()" class="py-3">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" [(ngModel)]="artwork.Name" name="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" [(ngModel)]="artwork.Description" name="description" class="form-control" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="technique" class="form-label">Technique:</label>
                    <input type="text" id="technique" [(ngModel)]="artwork.Technique" name="technique" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="year" class="form-label">Year:</label>
                    <input type="number" id="year" [(ngModel)]="artwork.Year" name="year" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <input type="number" id="price" [(ngModel)]="artwork.Price" name="price" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>    
                    <select id="type" [(ngModel)]="artwork.Type" name="type" class="form-select" required>
                        <option *ngFor="let type of artworkTypes" [ngValue]="getArtworkTypeValue(type)">{{ type }}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create Artwork</button>
            </form>
        </div>
    </div>
</div>