<main>

    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                </svg>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Immerse yourself in the Realm of Creativity</h1>
                        <p>Embark on a Visual Odyssey with Toni Vasic's artistry</p>
                        <p><a class="btn btn-lg btn-primary" href="/artworks">Browse artworks</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                </svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Experience the evolution of Toni Vasic's art</h1>
                        <p>Dive deep into the creative phases</p>
                        <p><a class="btn btn-lg btn-primary" href="/cycles">Browse cycles</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                </svg>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Unlock the secrets behind the canvas</h1>
                        <p>Dive into Toni Vasic's world and roots</p>
                        <p><a class="btn btn-lg btn-primary" href="/about">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <img src="../../../assets/images/arhetipski-sliki/(De)construction of the Stars.png" class="bd-placeholder-img rounded-circle service-img" width="140" height="140">
                <h2 class="fw-normal">Graphic Artist & Designer</h2>
                <p>
                    <i>Toni Vasic's creative brilliance shines through in every design. From captivating logos to stunning posters, his work reflects a blend of artistry and innovation.</i>
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../../../assets/images/arhetipski-sliki/Labhyrinth of Desires.png" class="bd-placeholder-img rounded-circle service-img" width="140" height="140">
                <h2 class="fw-normal">Artistic Visionary</h2>
                <p>
                    <i>Toni Vasic's designs transcend conventional boundaries, leaving a lasting impact on viewers. His creative vision is truly unparalleled.</i>
                </p>
            </div>
            <div class="col-lg-4">
                <img src="../../../assets/images/arhetipski-sliki/Game of Spirals.png" class="bd-placeholder-img rounded-circle service-img" width="140" height="140">
                <h2 class="fw-normal">Creative Innovator</h2>
                <p>
                    <i>As a master of visual storytelling, Toni Vasic brings imagination to life. His designs are not just artworks; they're portals to new realms of creativity.</i>
                </p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Captivating Graphic Designs<span
                        class="text-body-secondary"> Redefining Creativity.</span></h2>
                <p class="lead">Step into the world of graphic design excellence with Toni Vasic. His innovative approach and attention to detail set new standards in the industry.</p>
            </div>
            <div class="col-md-5">
                <img src="../../../assets/images/graphics/Fragments.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Graphic Design" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Artistic Flair Meets Design Genius<span
                        class="text-body-secondary"> Witness the Fusion.</span></h2>
                <p class="lead">Explore the intersection of artistry and design prowess with Toni Vasic. His ability to blend creativity with functionality yields captivating results that leave a lasting impression.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="../../../assets/images/(UN)FRAMED STORIES/Under the Sky.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Artistic Design" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Inspiring Creativity, One Design at a Time<br><span
                        class="text-body-secondary"> Discover the Magic.</span></h2>
                <p class="lead">Embark on a journey of inspiration and innovation with Toni Vasic. His designs ignite the imagination and redefine the boundaries of creativity.</p>
            </div>
            <div class="col-md-5">
                <img src="../../../assets/images/(UN)FRAMED STORIES/Between Good and Evil.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Inspiring Creativity" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

    </div>

</main>
