<main>
    <section class="py-5 text-center container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="fw-light">Artworks</h1>
            <button type="button" *ngIf="isAdmin && isLoggedIn" (click)="openArtworkCreate()" class="btn btn-primary">
                <i class="bi bi-plus"></i>
                New Artwork
            </button>
        </div>
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="lead text-body-secondary">
                    Explore the stunning artworks of Toni Vasic, a talented artist who combines emotion
                    and technique in his creations. Each piece invites you to enter a world of artistry and imagination, 
                    where you can discover new perspectives and meanings.
                </p>
            </div>
        </div>
    </section>

    <div class="mb-3 d-flex flex-wrap gap-3 artworks-filter">
        <select [(ngModel)]="filter.Type" class="form-select w-auto" title="Type" id="type" name="Type">
            <option [ngValue]="null" disabled selected>Type</option>
            <option *ngFor="let type of artworkTypes" [ngValue]="getArtworkTypeValue(type)">{{ type }}</option>
        </select>
    
        <select [(ngModel)]="filter.CycleId" class="form-select w-auto" title="Cycle" id="cycle" name="Cycle">
            <option [ngValue]="0" disabled selected>Cycle</option>
            <option *ngFor="let cycle of cycles" [value]="cycle.Id">{{ cycle.Name }}</option>
        </select>
    
        <input type="number" placeholder="Min Price" [(ngModel)]="filter.MinPrice" class="form-control w-auto">
        <input type="number" placeholder="Max Price" [(ngModel)]="filter.MaxPrice" class="form-control w-auto">
        <input type="number" placeholder="Width" [(ngModel)]="filter.Width" class="form-control w-auto">
        <input type="number" placeholder="Heigth" [(ngModel)]="filter.Height" class="form-control w-auto">

        <select [(ngModel)]="filter.SortBy" class="form-select w-auto" title="Sort By" id="sortBy" name="SortBy">
            <option value="" disabled selected>Sort By</option>
            <option value="Price">Price</option>
        </select>
    
        <select [(ngModel)]="filter.SortDirection" class="form-select w-auto" title="Sort Direction" id="sortDirection" name="SortDirection">
            <option value="" disabled selected>Sort Direction</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>
    <div class="mb-3 d-flex flex-wrap gap-3 artworks-filter-buttons">
        <button (click)="applyFilters()" class="btn btn-primary">Apply</button>
        <button (click)="clearFilters()" class="btn btn-secondary">Clear</button>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
                <div *ngFor="let artwork of displayedArtworks" class="col">
                    <div class="card shadow-sm">
                        <img [src]="'data:image/png;base64,' + artwork.ImageData" loading="lazy" class="card-img-top" width="100%" height="225" alt="{{artwork.Name}}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <span><b>{{ artwork.Name }}</b></span>
                                <span><b>{{ artwork.Price | currency }}</b></span>
                            </div>
                            <p class="card-text">{{ artwork.Description }}</p>
                            <p class="card-text text-muted" *ngIf="artwork.Width && artwork.Height">
                                <small>{{ artwork.Width }} x {{ artwork.Height }} cm</small>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" (click)="openArtworkDetails(artwork)" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" (click)="openArtworkUpdate(artwork)" class="btn btn-sm btn-outline-secondary" *ngIf="isAdmin && isLoggedIn">Edit</button>
                                </div>
                                <button type="button" [disabled]="artwork.Quantity == 0" (click)="addToCart(artwork)" class="btn btn-sm btn-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center text-muted" *ngIf="displayedArtworks.length === 0">
                <p style="font-style: italic;">No Artworks</p>
            </div>
        </div>
        <br/>
        <pager [totalItems]="artworks.length" [itemsPerPage]="itemsPerPage" (pageChanged)="onPageChanged($event)"></pager>
    </div>
</main>