<main>
    <section class="py-5 text-center container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="fw-light">Artworks</h1>
            <button type="button" (click)="openArtworkCreate()" class="btn btn-primary">
                <i class="bi bi-plus"></i>
                New Artwork
            </button>
        </div>
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="lead text-body-secondary">
                    Explore the stunning artworks of Vanja Vasic, a talented artist who combines emotion
                    and technique in his creations. Each piece invites you to enter a world of artistry and imagination, 
                    where you can discover new perspectives and meanings.
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
                <div *ngFor="let artwork of artworks" class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <span><b>{{ artwork.Name }}</b></span>
                            <p class="card-text">{{ artwork.Description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" (click)="openArtworkDetails(artwork)" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" (click)="openArtworkUpdate(artwork)" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>