<main>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div *ngIf="artwork" class="card shadow-lg border-0">
                    <img class="img-fluid rounded-top" [src]="'data:image/png;base64,' + artwork.ImageData"
                        alt="{{ artwork.Name }}" style="object-fit: cover;">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ artwork.Name }}</h2>
                        <p class="text-muted details-description">{{ artwork.Description }}</p>
                        <hr>
                        <div class="row justify-content-center text-center">
                            <div class="col-md-6">
                                <p><strong>Technique:</strong> {{ artwork.Technique }}</p>
                                <p><strong>Dimensions:</strong> {{ artwork.Width }} x {{ artwork.Height }} cm</p>
                                <p><strong>Type:</strong> {{ getArtworkType(artwork.Type) }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Price:</strong> {{ artwork.Price | currency }}</p>
                                <p><strong>Year:</strong> {{ artwork.Year }}</p>
                                <p><strong>Quantity:</strong> {{ artwork.Quantity }}</p>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="button" [disabled]="artwork.Quantity == 0" (click)="addToCart(artwork)"
                                class="btn btn-primary px-4" id="addToCart">
                                <i class="bi bi-cart-plus"></i> Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>