<div class="container py-5" *ngIf="artwork">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="page-title ">Update Artwork</h2>
            <form [formGroup]="artworkForm" (ngSubmit)="updateArtwork()" class="py-3">

                <!-- Name -->
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && artworkForm.controls['name'].invalid }">
                    <div *ngIf="submitted && artworkForm.controls['name'].invalid" class="invalid-feedback">
                        Name is required
                    </div>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" formControlName="description" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && artworkForm.controls['description'].invalid }"></textarea>
                    <div *ngIf="submitted && artworkForm.controls['description'].invalid" class="invalid-feedback">
                        Description is required
                    </div>
                </div>

                <!-- Technique -->
                <div class="mb-3">
                    <label for="technique" class="form-label">Technique:</label>
                    <input type="text" id="technique" formControlName="technique" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && artworkForm.controls['technique'].invalid }">
                    <div *ngIf="submitted && artworkForm.controls['technique'].invalid" class="invalid-feedback">
                        Technique is required
                    </div>
                </div>

                <!-- Year -->
                <div class="mb-3">
                    <label for="year" class="form-label">Year:</label>
                    <input type="number" id="year" formControlName="year" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && artworkForm.controls['year'].invalid }">
                    <div *ngIf="submitted && artworkForm.controls['year'].invalid" class="invalid-feedback">
                        Year is required
                    </div>
                </div>

                <!-- Price -->
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <input type="number" id="price" formControlName="price" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && artworkForm.controls['price'].invalid }">
                    <div *ngIf="submitted && artworkForm.controls['price'].invalid" class="invalid-feedback">
                        Price is required
                    </div>
                </div>

                <!-- Quantity -->
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="number" id="quantity" formControlName="quantity" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && artworkForm.controls['quantity'].invalid }">
                    <div *ngIf="submitted && artworkForm.controls['quantity'].invalid" class="invalid-feedback">
                        Quantity is required
                    </div>
                </div>

                <!-- Type -->
                <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <select id="type" formControlName="type" class="form-select"
                        [ngClass]="{ 'is-invalid': submitted && artworkForm.controls['type'].invalid }">
                        <option *ngFor="let type of artworkTypes" [ngValue]="getArtworkTypeValue(type)">{{ type }}
                        </option>
                    </select>
                    <div *ngIf="submitted && artworkForm.controls['type'].invalid" class="invalid-feedback">
                        Type is required
                    </div>
                </div>

                <!-- Cycle -->
                <div class="mb-3">
                    <label for="cycleId" class="form-label">Cycle:</label>
                    <select id="cycleId" formControlName="cycleId" class="form-select">
                        <option *ngFor="let cycle of cycles" [ngValue]="cycle?.Id">{{ cycle?.Name }}</option>
                    </select>
                </div>

                <!-- Image -->
                <div class="mb-3">
                    <label for="imageData" class="form-label">Image:</label>
                    <input class="form-control" type="file" id="imageData" (change)="onFileChange($event)">
                </div>
                <div *ngIf="artwork.ImageData" class="mb-3">
                    <img [src]="'data:image/png;base64,' + artwork.ImageData" alt="{{artwork.Name}}" class="img-thumbnail" width="200">
                </div>

                <!-- Submit and Delete Buttons -->
                <button type="submit" class="btn btn-primary" [disabled]="!artworkForm.dirty">
                    Update Artwork
                </button>
                <button type="button" class="btn btn-danger separate-item" data-bs-toggle="modal" data-bs-target="#popUpModal">
                    Delete
                </button>
            </form>
        </div>
    </div>
</div>

<modal 
    [title]="'Confirm Delete'" 
    [message]="'Are you sure you want to delete this artwork?'"
    (confirm)="deleteArtwork()" 
    (cancel)="cancelDelete()">>
</modal>