<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link hover-pointer" (click)="previousPage()">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
            <a class="page-link hover-pointer" (click)="setPage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link hover-pointer" (click)="nextPage()">Next</a>
        </li>
    </ul>
</nav>
