<div class="users-container">
    <!-- Title -->
    <h2 class="text-center" id="usersTitle">Manage Users</h2>

    <!-- Wrapper for button to align it to the right above the table -->
    <div class="d-flex justify-content-end mb-3">
        <button type="button" *ngIf="isAdmin && isLoggedIn" (click)="openUserCreate()" class="btn btn-primary btn-sm">
            <i class="bi bi-person-plus"></i>
            Add User
        </button>
    </div>

    <!-- Users table -->
    <table class="users-table table">
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" [ngClass]="{ 'disabled-user': !user.Enabled }">
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName }}</td>
                <td>{{ user.UserName }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.PhoneNumber }}</td>
                <td>{{ user.Role }}</td> 
                <td>{{ user.Enabled ? 'Active' : 'Deactivated' }}</td>
                <td class="actions-cell">
                    <div class="context-menu">
                        <button (click)="toggleContextMenu(user.Id, $event)" class="menu-btn">⋮</button>
                        <ul *ngIf="activeMenuUserId === user.Id" class="menu-options">
                            <li (click)="openUserUpdate(user)">
                                <i class="bi bi-pencil-square"></i> Edit
                            </li>
                            <li (click)="enableDisableUser(user.Id, !user.Enabled)">
                                <i class="bi bi-toggle-{{ user.Enabled ? 'off' : 'on' }}"></i> 
                                {{ user.Enabled ? 'Deactivate' : 'Activate' }}
                            </li>
                            <li (click)="viewOrderHistory(user.Id, user.UserName)">
                                <i class="bi bi-clock-history"></i> Order History
                            </li>
                            <li (click)="openDeleteModal(user.Id, user.UserName)" data-bs-toggle="modal" data-bs-target="#popUpModal">
                                <i class="bi bi-trash text-danger"></i> Delete
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal 
    [title]="'Confirm Delete'" 
    [message]="'Are you sure you want to delete this user?'"
    (confirm)="deleteUser()" 
    (cancel)="cancelDelete()">
</modal>
