.cart-icon {
    font-size: 1.8em;
    font-weight: bold;
    position: absolute;
    right: 100px;
    padding-right: 50px;
}

.cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
    transform: translate(-50%, 5%);
    font-size: 0.40em;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}