<nav class="navbar bg-body-tertiary" aria-label="Toni Vasic">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Toni Vasic</a>
        <div class="nav-item me-2 cart-icon" *ngIf="!hideShoppingCartIcon">
            <a class="nav-link" routerLink="/cart">
                <i class="bi bi-cart3"></i>
                <span class="badge bg-danger cart-badge" *ngIf="cartItemCount > 0">{{cartItemCount}}</span>
            </a>
        </div>
        <button class="btn btn-primary me-2 theme-toggle" (click)="toggleTheme()" style="position: absolute; right: 80px;">
            <i [ngClass]="{'bi bi-moon-stars-fill': themeService.isDark(), 'bi bi-sun-fill': !themeService.isDark()}"></i>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight"
            aria-controls="offcanvasNavbarLight" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight"
            aria-labelledby="offcanvasNavbarLightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" style="cursor: pointer;" id="offcanvasNavbarLightLabel" (click)="openUserDetails()">{{ loggedInUsername || 'Toni Vasic' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/artworks" routerLinkActive="active">Artworks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cycles" routerLinkActive="active">Cycles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" *ngIf="isAdmin && isLoggedIn">
                            Settings
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/smtp-settings" routerLinkActive="active">SMTP</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/users" routerLinkActive="active">Users</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/contact-messages" routerLinkActive="active">Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" *ngIf="isLoggedIn">
                        <logout (logoutCompleted)="onLogOutCompleted()"></logout>
                    </li>
                    <li class="nav-item" *ngIf="!isLoggedIn">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="!isLoggedIn">
                        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>