/* You can add global styles to this file, and also import other style files */
@use 'ngx-toastr/toastr';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
}

.separate-item {
    margin-left: 10px;
}

.page-title {
    text-align: center;;
}