<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2>Create New Cycle</h2>
            <form #cycleForm="ngForm" (ngSubmit)="createCycle()" class="py-3">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" [(ngModel)]="cycle.Name" name="name" class="form-control" required
                        #name="ngModel" [ngClass]="{ 'is-invalid': cycleForm.submitted && name.invalid }">
                    <div *ngIf="cycleForm.submitted && name.invalid" class="invalid-feedback">
                        Name is required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" [(ngModel)]="cycle.Description" name="description" class="form-control"
                        required #description="ngModel"
                        [ngClass]="{ 'is-invalid': cycleForm.submitted && description.invalid }"></textarea>
                    <div *ngIf="cycleForm.submitted && description.invalid" class="invalid-feedback">
                        Description is required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="artworks" class="form-label">Select Artworks:</label>
                    <select class="form-control" multiple [(ngModel)]="cycle.ArtworkIds" name="artworks">
                        <option *ngFor="let artwork of artworks" [value]="artwork.Id">{{ artwork.Name }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="imageData" class="form-label">Thumbnail:</label>
                    <input class="form-control" type="file" id="imageData" (change)="onFileChange($event)">
                </div>
                <div *ngIf="cycle.ImageData" class="mb-3">
                    <img [src]="'data:image/png;base64,' + cycle.ImageData" alt="{{cycle.Name}}" class="img-thumbnail" width="200">
                </div>
                <button type="submit" class="btn btn-primary">Create Cycle</button>
            </form>
        </div>
    </div>
</div>